@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Montez&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mate SC", serif;
  box-sizing: border-box;
}

.barra_navegacion {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.barra_navegacion .logo {
  display: flex;
  align-items: center;
  height: 70px;
}
.barra_navegacion ul {
  margin: 0px 15px;
  list-style: none;
  display: flex;
  justify-content: end;
}
.barra_navegacion a {
  display: block;
  padding: 10px 17px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  justify-content: end;
}

.portada {
  height: 550px;
  background-image: url(../Multimedia/img/portada5.png);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 50px;
}
.portada h1 {
  font-size: 70px;
  text-align: center;
  font-family: "Montez", cursive;
  color: black;
}
.portada h2 {
  text-align: center;
}

main {
  background-color: #ffeaf0;
}

footer {
  text-align: center;
  background-color: #f5adc3;
  height: 60px;
}
footer a {
  color: black;
  text-decoration: none;
  font-style: italic;
}
footer p {
  font-size: 15px;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tarjetas div {
  width: 230px;
  height: 280px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}
.tarjetas img {
  width: 200px;
  border-radius: 5px;
}
.tarjetas button {
  background-color: #f88eae;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tarjetas button:hover {
  background-color: #f5bccd;
}
.tarjetas button div h4 {
  text-align: center;
}

@media (max-width: 768px) {
  .portada {
    height: 100px;
  }
  .portada h1 {
    font-size: 30px;
  }
  .portada h2 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .portada {
    height: 50px;
  }
  .portada h1 {
    font-size: 30px;
  }
  .portada h2 {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .portada h1 {
    font-size: 23px;
  }
  .portada h1 h2 {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .tarjetas div {
    width: 250px;
    height: 280px;
    margin: 10px;
    padding: 10px;
    font-size: 13px;
  }
  .tarjetas div img {
    width: 200px;
    border-radius: 2px;
  }
}
@media (max-width: 576px) {
  .tarjetas {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .barra_navegacion {
    height: 50px;
  }
  .barra_navegacion ul li a {
    padding: 5px 5px;
    font-size: 16px;
  }
  .barra_navegacion .logo {
    height: 50px;
  }
}
@media (max-width: 320px) {
  .barra_navegacion {
    height: 40px;
  }
  .barra_navegacion ul li a {
    padding: 5px 5px;
    font-size: 13px;
  }
  .barra_navegacion .logo {
    height: 40px;
  }
}
.titulo_pag {
  text-align: center;
  padding: 15px;
}

.titulo2 {
  padding: 15px;
  font-size: 25px;
}

.tarjetas_accesorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}
.tarjetas_accesorios div {
  width: 250px;
  height: 360px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.tarjetas_accesorios button {
  width: 70px;
  height: 20px;
  margin: 5px;
  font-size: 12px;
  background-color: #f88eae;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.tarjetas_accesorios button:hover {
  background-color: #f5adc3;
}
.tarjetas_accesorios img {
  width: 240px;
  height: 230px;
  border-radius: 8px;
}

.producto3 img {
  width: 240px;
}

.formulario {
  font-size: 18px;
  background-color: rgb(245, 190, 250);
  margin: 30px auto;
  padding: 30px;
  display: grid;
  row-gap: 10px;
}
.formulario .dato {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.formulario input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
.formulario input:focus {
  border-bottom: 2px solid white;
}
.formulario button {
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid white;
}

@media (min-width: 576px) {
  .formulario {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    align-items: center;
  }
  .dato_NyA {
    grid-column: 1/3;
  }
  .dato_email {
    grid-column: 3/5;
  }
  .dato_tel {
    grid-column: 1/3;
  }
  .dato_terminos {
    grid-column: 3/5;
  }
}
@media (min-width: 768px) {
  .formulario {
    display: grid;
    width: 768px;
    padding: 30px;
    border-radius: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
