footer {
    text-align: center;
    background-color: #f5adc3;
    height: 60px;
    a {
        color: black;
        text-decoration: none;
        font-style: italic;
    }
    p {
        font-size: 15px;
    }
}