.formulario {
    font-size: 18px;
    background-color: rgb(245, 190, 250);
    margin: 30px auto;
    padding: 30px;
    display: grid;
    row-gap: 10px;
    .dato {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
    &:focus {
        border-bottom: 2px solid white;
    }
    }
    button {
        padding: 10px 15px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid white;
        }
}