.portada {
    height: 550px;
    background-image: url(../Multimedia/img/portada5.png);
    background-size:cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px;
    h1 {
        font-size: 70px;
        text-align:center;
        font-family: 'Montez', cursive;
        color: black;
    }
    h2 {
        text-align: center;
    }
}
