.tarjetas_accesorios {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding: 5px;
    div {
        width: 250px;
        height: 360px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        }
        button {
            width: 70px;
            height: 20px;
            margin: 5px;
            font-size: 12px;
            background-color: #f88eae;
            border: none;
            border-radius: 2px; 
            cursor: pointer;
            &:hover {
                background-color: #f5adc3;
            }
        }
        img {
            width: 240px;
            height: 230px;
            border-radius: 8px;
        }
}
.producto3 img {
    width: 240px;
}